@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
}

.hidden {
  display: none;
}

.mob-show {
  display: none;
}

.mob-hidden {
  display: block;
}

.promise__content-img-table {
  display: none;
}

.btn {
  border: 2px solid #fff;
  background-color: rgba(34, 30, 31, 0.2);
  padding: 18px 28px 18px 35px;
  font-size: 22px;
  line-height: 30px;
  text-shadow: 0.5px 0.866px 1px rgba(0, 0, 1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn:hover {
  background-color: transparent;
  text-shadow: 0.5px 0.866px 1px rgba(0, 0, 1, 0.3);
  color: #fad406;
  border: 2px solid #fad406;
}

.svg-hover {
  display: none;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  color: #fff;
  font-family: 'Quicksand', 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 20px;
  background: #fff;
}

.title-h3 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
}

.container {
  max-width: 1610px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header__slider-wrapper {
  padding: 20px 0 200px 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 115% 100%;
  position: relative;
  background-position: center center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 29% 100%, 0 88%);
  clip-path: polygon(0 0, 100% 0, 100% 88%, 29% 100%, 0 88%);
}
.header__slider-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(34, 30, 31, 0.702);
  z-index: 1;
}

.header__slider-item {
  z-index: 1;
  position: relative;
}

.header__content {
  padding: 270px 0 0 0;
  margin-left: 150px;
  max-width: 830px;
  z-index: 200;
}
.header__content-logos {
  padding-bottom: 25px;
  position: relative;
  max-width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__content-logos img + img {
  padding-left: 25px;
}
.header__content-logos img.logo-freenow {
  margin-top: -20px;
}
.header__content-logos::before {
  content: "";
  background-color: white;
  -webkit-box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 1, 0.2);
          box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 1, 0.2);
  position: absolute;
  left: 0px;
  top: 50px;
  width: 440px;
  height: 1px;
}
.header__content-logos-2::before {
  width: 360px;
}
.header__content-logos-3::before {
  width: 210px;
}
.header__content-title {
  margin-bottom: 40px;
}
.header__content-title .title-h1 {
  font-size: 55px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 60px;
}
.header__content-text {
  max-width: 660px;
  line-height: 32px;
  font-size: 22px;
  font-weight: 300;
}
.header__content-btn {
  margin: 50px 0;
}

.social {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 60px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 15px;
}
.social a + a {
  padding-top: 60px;
}

.social-bg {
  z-index: 10;
}
.social-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.7;
  z-index: -1;
  border-radius: 50px;
}

a svg:hover #teleg,
a svg:hover #vk,
a svg:hover #insta,
a svg:hover #fb {
  fill: #fad406;
}

.header__arrow-down {
  position: absolute;
  bottom: 55px;
  left: 27.3%;
  z-index: 10;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.102);
  width: 66px;
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prevArrow {
  left: 175px;
}

a svg:hover #fb {
  fill: #fad406;
}

.nextArrow {
  right: 175px;
}

a:hover svg .next-svg,
a:hover svg .prev-svg {
  fill: #fad406;
}

.header__menu {
  width: 100%;
  border-bottom: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.header__menu-wrapper {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header__menu-lang {
  font-size: 20px;
  line-height: 1.5;
  text-shadow: 0.5px 0.866px 1px rgba(0, 0, 1, 0.2);
  position: absolute;
  top: 17px;
}
.header__menu-phone {
  margin: 0 120px 0 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 28px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  text-shadow: 0.5px 0.866px 1px rgba(0, 0, 1, 0.2);
}
.header__menu-phone a {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu-phone a span {
  padding-right: 10px;
}

.lang-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -10px;
  padding: 10px;
  font-family: 'Nunito', sans-serif;
}

.lang-active img {
  padding-left: 17px;
}

span.lang-active:hover,
.header__menu-lang-list a:hover {
  color: #f0d000;
  cursor: pointer;
}

.header__menu-lang-list {
  background-color: rgba(34, 30, 31, 0.6);
  padding: 0 10px 10px 10px;
}
.header__menu-lang-list a {
  font-family: 'Nunito', sans-serif;
}

/* ==== trus ====*/
.trust-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  min-height: 640px;
}

.trust__img {
  margin-left: 55px;
  width: 530px;
  z-index: -2;
}
.trust__img img {
  width: 530px;
}

.trust__content {
  padding: 80px 40px 0 150px;
  line-height: 35px;
  color: #262424;
}
.trust__content-title {
  font-size: 40px;
  font-weight: 600;
}
.trust__content-text {
  font-size: 20px;
  font-weight: 300;
}

/* ==== why ==== */
.why {
  min-height: 710px;
  width: 100%;
  background: url("../images/why-bg.webp") top center no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -440px;
}
.why::before {
  content: "";
  position: absolute;
  min-height: 45px;
  width: 100%;
  background: url("../images/line-trust.webp") top center no-repeat;
  background-size: cover;
  z-index: -1;
  bottom: -39px;
  left: 0;
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.why::after {
  content: "";
  position: absolute;
  min-height: 45px;
  width: 100%;
  background: url("../images/line-trust.webp") top center no-repeat;
  background-size: cover;
  z-index: -1;
  top: -38px;
  left: 0;
  right: 0;
}

.why__content {
  position: absolute;
  padding-top: 120px;
  z-index: 100;
}
.why__content-title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
.why__content-text {
  margin-top: 50px;
}
.why__content-text li {
  list-style: none;
  font-weight: 300;
  font-size: 22px;
  padding-top: 10px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.why__content-text li img {
  padding-right: 15px;
}

/* ==== promise ==== */
.promise {
  min-height: 550px;
  width: 100%;
  position: relative;
}

.promise__content {
  margin-top: 80px;
}
.promise__content-title {
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.promise__content-info {
  position: relative;
  margin: 100px auto 0;
  max-width: 1040px;
  min-height: 330px;
}

.promise__content-info-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #000000;
}
.promise__content-info-list span {
  position: absolute;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.promise__content-info-list span:nth-child(4) {
  bottom: 75px;
  left: -12px;
  width: 143px;
}
.promise__content-info-list span:nth-child(4)::before {
  content: url("../images/promise-arrow.webp");
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.promise__content-info-list span:nth-child(5) {
  top: -62px;
  left: 142px;
  width: 162px;
}
.promise__content-info-list span:nth-child(5)::before {
  content: url("../images/promise-arrow.webp");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  top: 62px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}
.promise__content-info-list span:nth-child(6) {
  bottom: 75px;
  left: 266px;
  width: 207px;
}
.promise__content-info-list span:nth-child(6)::before {
  content: url("../images/promise-arrow.webp");
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.promise__content-info-list span:nth-child(7) {
  top: -50px;
  left: 456px;
  width: 141px;
}
.promise__content-info-list span:nth-child(7)::before {
  content: url("../images/promise-arrow.webp");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  top: 47px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}
.promise__content-info-list span:nth-child(8) {
  bottom: 75px;
  right: 232px;
  width: 279px;
}
.promise__content-info-list span:nth-child(8)::before {
  content: url("../images/promise-arrow.webp");
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.promise__content-info-list span:nth-child(9) {
  top: -60px;
  right: 92px;
  width: 240px;
}
.promise__content-info-list span:nth-child(9)::before {
  content: url("../images/promise-arrow.webp");
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}
.promise__content-info-list span:nth-child(10) {
  bottom: 75px;
  right: -50px;
  width: 218px;
}
.promise__content-info-list span:nth-child(10)::before {
  content: url("../images/promise-arrow.webp");
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* ====geographies  ==== */
.geographies {
  background: #ededed;
  min-height: 710px;
  padding-top: 100px;
  position: relative;
}
.geographies::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  border-top: 100px solid #fff;
  border-left: 50vw solid transparent;
}
.geographies::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  border-top: 100px solid #fff;
  border-right: 50vw solid transparent;
}

.geographies-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.geographies__info {
  width: 45%;
  color: #000000;
  text-align: center;
}
.geographies__info-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
}
.geographies__info-descr {
  font-size: 20px;
  font-weight: 300;
  position: relative;
  padding-bottom: 30px;
}
.geographies__info-descr::before {
  content: '';
  position: absolute;
  border-bottom: 1px solid #a5a5a5;
  width: 400px;
  bottom: 0px;
  left: auto;
  right: auto;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.geographies__sity-big ul,
.geographies__sity-little ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-top: 30px;
}
.geographies__sity-big ul li,
.geographies__sity-little ul li {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.geographies__sity-big ul li + li,
.geographies__sity-little ul li + li {
  padding-left: 15px;
}

.geographies__sity-little ul li {
  text-transform: capitalize;
}

.geographies__images img {
  max-width: 640px;
  width: 100%;
}

.geographies__images {
  position: relative;
}

.geographies__images-map {
  color: #000;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
}

.geographies__images-map img {
  max-width: 25px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.map-warszawa {
  position: absolute;
  top: 35%;
  right: 156px;
  font-size: 13px;
}

.map-krakow {
  position: absolute;
  bottom: 16%;
  right: 231px;
}

.map-trojmiasto {
  position: absolute;
  top: -4px;
  left: 247px;
}

.map-poznan {
  position: absolute;
  bottom: 54%;
  left: 141px;
}

.map-wroclaw {
  position: absolute;
  bottom: 31%;
  left: 155px;
}

.map-todz {
  position: absolute;
  top: 43%;
  right: 46%;
}

.map-katowice {
  position: absolute;
  bottom: 20%;
  right: 46%;
}

.map-lublin {
  position: absolute;
  top: 55%;
  right: 95px;
}

.geographies__images-map-little {
  color: #000;
  font-size: 11px;
  font-weight: 600;
}

.geographies__images-map-little img {
  max-width: 15px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.map-rzeszow,
.map-bialystok,
.map-czestochowa,
.map-kielce,
.map-szczecin,
.map-radom,
.map-legnica {
  position: absolute;
  opacity: 0.7;
}

.map-rzeszow {
  bottom: 16%;
  right: 18%;
}

.map-bialystok {
  top: 24%;
  right: 7%;
}

.map-czestochowa {
  bottom: 31%;
  right: 44%;
}

.map-kielce {
  bottom: 32%;
  right: 32%;
}

.map-szczecin {
  top: 18%;
  left: 1px;
}

.map-radom {
  bottom: 39%;
  right: 26%;
}

.map-legnica {
  bottom: 31%;
  left: 15%;
}

/* ====  ==== */
/* ====  ==== */
/* ======== ==== ==== ==== 
          feedback
 ========================*/
.feedback {
  min-height: 600px;
  padding: 50px 0;
  width: 100%;
  background: url("../images/form-bg.webp") top center no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.feedback::before {
  content: "";
  position: absolute;
  min-height: 45px;
  width: 100%;
  background: url("../images/line-trust.webp") top center no-repeat;
  background-size: cover;
  z-index: -1;
  top: -38px;
  left: 0;
  right: 0;
}
.feedback::after {
  content: "";
  position: absolute;
  min-height: 45px;
  width: 50%;
  background: url("../images/line-form-down.webp") top center no-repeat;
  background-size: 100%;
  z-index: -1;
  bottom: -38px;
  right: 0;
}
.feedback-title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  padding-top: 80px;
  padding-bottom: 20px;
}
.feedback-subtitle {
  padding-bottom: 40px;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.feedback-form input {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 400px;
  height: 50px;
  padding: 13px;
  margin-top: 13px;
  background-color: rgba(0, 0, 0, 0.302);
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding-left: 60px;
  font-weight: 300;
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 25px 25px;
  top: 0;
}

::-webkit-input-placeholder {
  color: #ffffff;
}

::-moz-placeholder {
  color: #ffffff;
}

:-moz-placeholder {
  color: #ffffff;
}

:-ms-input-placeholder {
  color: #ffffff;
}

input.feedback-form-name {
  background-image: url("../images/icons-form/name.svg");
}

input.feedback-form-phone {
  background-image: url("../images/icons-form/phone.svg");
}

input.feedback-form-email {
  background-image: url("../images/icons-form/e-mail.svg");
}

input.feedback-form-btn {
  border: 1px solid #fff;
  background-color: transparent;
  padding-left: 0;
}
input.feedback-form-btn:hover {
  background-color: transparent;
  text-shadow: 0.5px 0.866px 1px rgba(0, 0, 1, 0.3);
  color: #fad406;
  border: 1px solid #fad406;
  cursor: pointer;
}

/* ==== contact  ==== */
.contact {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #262424;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.contact iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 500px;
}
.contact-content {
  margin-left: 55%;
  margin-top: 80px;
}
.contact-content__title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.contact-content ul {
  margin: 0;
  padding: 0;
}
.contact-content li {
  font-size: 20px;
  font-weight: 300;
  list-style: none;
  padding: 15px 0;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-content li img {
  padding-right: 15px;
}

/* ==== footer ==== */
.footer {
  height: 240px;
  background: url("../images/footer-bg.webp") bottom center no-repeat;
  background-size: cover;
}

.footer__menu-wrapper {
  padding: 27px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__menu-lang {
  font-size: 20px;
  line-height: 1.5;
  text-shadow: 0.5px 0.866px 1px rgba(0, 0, 1, 0.2);
}
.footer__menu-phone {
  margin: 0 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 28px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  text-shadow: 0.5px 0.866px 1px rgba(0, 0, 1, 0.2);
}
.footer__menu-phone a {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__menu-phone a span {
  padding-right: 10px;
}

.footer__copy-wrapper {
  position: relative;
  height: 50px;
}
.footer__copy-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
}

.footer__copy {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}
.footer__copy-name {
  font-weight: 300;
  font-size: 14px;
}
.footer__copy-politic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__copy-politic a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}
.footer__copy-politic span {
  padding: 0 10px;
  font-size: 14px;
}

.header-modal {
  text-align: center;
  background-color: #262424;
  border: 1px solid #fff;
  padding: 50px 70px 80px 70px;
  max-width: 700px;
  margin: 0 auto;
}
.header-modal .feedback-title {
  padding-top: 20px;
}

@media (max-width: 1870px) {
  .container {
    max-width: 1370px;
  }

  .header__content {
    padding: 220px 0 0 0;
  }

  .trust__content {
    padding: 80px 40px 0 100px;
  }
}
@media (max-width: 1580px) {
  .container {
    max-width: 1230px;
  }

  .prevArrow {
    left: 125px;
  }

  .nextArrow {
    right: 125px;
  }

  .header__menu-logо img {
    width: 80%;
  }

  .header__menu-phone {
    margin: 0 100px 0 170px;
    font-size: 20px;
  }

  .btn {
    padding: 16px 25px 16px 25px;
    font-size: 22px;
  }

  .header__content {
    padding-top: 190px;
  }

  .header__content-title {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .header__arrow-down {
    left: 27%;
  }

  .trust__img {
    margin-left: 0;
  }
  .trust__img img {
    max-width: 400px;
  }

  .trust__content {
    padding: 40px 40px 0 40px;
    line-height: 26px;
  }

  .why {
    margin-top: -300px;
  }
}
@media (max-width: 1380px) {
  .container {
    max-width: 1000px;
  }

  .social {
    right: 20px;
  }

  .slick-arrow {
    width: 40px;
    height: 40px;
  }

  .trust__content {
    padding: 20px 45px 0 30px;
  }

  .header__arrow-down {
    left: 26.8%;
  }
}
@media (max-width: 1290px) {
  .header__slider-wrapper {
    background-size: 120% 120%;
    background-position: top center;
  }

  .promise__content-info {
    margin: 125px auto 0;
  }

  .promise__content-img {
    display: none;
  }

  .promise__content-info-list {
    margin: 0 auto;
    max-width: 690px;
    position: relative;
  }

  .promise__content-info-list span {
    font-size: 12px;
  }

  .promise__content-img-table {
    display: block;
    margin: 0 auto;
  }

  .promise__content-info-list span:nth-child(4) {
    top: 152px;
    left: 15px;
    width: 95px;
  }
  .promise__content-info-list span:nth-child(4)::before {
    top: -62px;
    left: 50%;
  }
  .promise__content-info-list span:nth-child(5) {
    bottom: 140px;
    left: 125px;
    width: 100px;
  }
  .promise__content-info-list span:nth-child(5)::before {
    top: 52px;
    left: 50%;
  }
  .promise__content-info-list span:nth-child(6) {
    bottom: 123px;
    left: 215px;
    width: 145px;
  }
  .promise__content-info-list span:nth-child(6)::before {
    bottom: 33px;
    left: 50%;
  }
  .promise__content-info-list span:nth-child(7) {
    top: -50px;
    left: 355px;
    width: 93px;
  }
  .promise__content-info-list span:nth-child(7)::before {
    top: 42px;
    left: 50%;
  }
  .promise__content-info-list span:nth-child(8) {
    bottom: -45px;
    right: 200px;
    width: 176px;
  }
  .promise__content-info-list span:nth-child(8)::before {
    bottom: 37px;
    left: 50%;
  }
  .promise__content-info-list span:nth-child(9) {
    top: 108px;
    right: 86px;
    width: 171px;
  }
  .promise__content-info-list span:nth-child(9)::before {
    top: 47px;
    left: 50%;
  }
  .promise__content-info-list span:nth-child(10) {
    bottom: -41px;
    right: -10px;
    width: 142px;
  }
  .promise__content-info-list span:nth-child(10)::before {
    bottom: 34px;
    left: 50%;
  }

  .geographies > .container {
    max-width: 1500px;
  }
}
@media (max-width: 1090px) {
  .container {
    max-width: 1100px;
  }

  .header__arrow-down {
    bottom: 10px;
    left: 249px;
  }

  .header__content {
    max-width: 380px;
  }

  .header__content-title .title-h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .header__content-text {
    font-size: 18px;
    line-height: 24px;
  }

  .header__menu-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__menu-phone {
    margin: 41px 60px 0 -12px;
  }

  .header__menu-logо {
    margin-right: 60px;
  }

  .header__arrow-down {
    display: none;
  }

  .social {
    right: 0;
  }

  .prevArrow {
    left: 45px;
  }

  .nextArrow {
    right: 45px;
  }

  .header__menu-lang {
    top: 0;
  }

  /* ====================================
                   trust 
   =====================================*/
  .trust__img img {
    max-width: 300px;
  }

  .trust__content {
    line-height: 20px;
  }
  .trust__content-title {
    font-size: 30px;
  }
  .trust__content-text {
    font-size: 18px;
  }

  /* ====================================
                   why
   =====================================*/
  .why {
    margin-top: -200px;
  }

  .why__content {
    width: 63%;
  }

  /* ====================================
                  geographies
   =====================================*/
  .geographies-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .geographies__info {
    width: 65%;
    margin-bottom: 50px;
  }

  .geographies__info-descr {
    font-size: 18px;
    padding-bottom: 20px;
    text-align: left;
  }

  .geographies__info-title {
    font-size: 30px;
    text-align: left;
    margin-bottom: 40px;
  }

  .geographies__sity-big ul li,
  .geographies__sity-little ul li {
    font-size: 18px;
    margin-top: 25px;
  }

  .footer {
    height: 260px;
  }

  .header-modal {
    max-width: 500px;
    padding: 20px 40px 40px 40px;
  }
  .header-modal .feedback-title {
    font-size: 25px;
  }
  .header-modal .feedback-subtitle {
    font-size: 16px;
  }
  .header-modal .feedback-form input {
    width: 300px;
    height: 40px;
    font-size: 14px;
  }

  .header__slider-wrapper {
    height: 100%;
    padding: 30px 0 100px 0;
  }
}
@media (max-width: 800px) {
  /* ====================================
                   header
   =====================================*/
  .header__menu-wrapper {
    padding: 0;
  }

  .header__content {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px 30px 30px 30px;
    text-align: center;
  }

  .header__content-logos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 800px;
  }

  .header__content-text {
    max-width: 800px;
    margin: 0 70px;
  }

  .header__content-logos::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .header__menu-logо img {
    width: 40%;
  }

  .mob-hidden {
    display: none;
  }

  .mob-show {
    display: block;
  }

  .header__arrow-down {
    left: 45.5%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .header__content-logos {
    margin-top: 10px;
  }
  .header__content-logos img.logo-freenow {
    margin-top: -13px;
    width: 140px;
  }

  .header__content-logos::before {
    top: 35px;
  }

  .header__content-logos-3::before {
    top: 45px;
  }

  .header__slider-wrapper {
    background-size: cover;
  }

  .trust-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
    text-align: center;
  }

  .trust__img {
    width: 100%;
  }

  .trust-wrapper {
    padding-top: 0;
  }

  .why {
    min-height: 650px;
    width: 100%;
    background: url(../images/trust-table-bg.webp) top left no-repeat;
    background-size: cover;
  }
  .why::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
  }

  .why__content {
    width: 80%;
  }

  .why__content-title {
    font-size: 30px;
    text-align: center;
  }

  .why__content-text {
    width: 80%;
    margin: 10px auto;
  }

  .why__content-text li {
    font-size: 18px;
    line-height: 24px;
  }

  .promise__content-info {
    margin: 50px auto 0;
  }

  .promise__content-img-table {
    display: none;
  }

  .promise__content-info-list {
    margin: 0 0 0 20px;
    max-width: 450px;
  }

  .promise__content-info-list span:nth-child(4) {
    top: 33px;
    left: 28%;
    text-align: left;
  }
  .promise__content-info-list span:nth-child(4)::before {
    content: url("../images/promise-mob-arrow.webp");
    top: 5px;
    left: -46px;
  }
  .promise__content-info-list span:nth-child(5) {
    top: 141px;
    left: 28%;
    text-align: left;
  }
  .promise__content-info-list span:nth-child(5)::before {
    content: url("../images/promise-mob-arrow.webp");
    top: 5px;
    left: -46px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .promise__content-info-list span:nth-child(6) {
    top: 253px;
    left: 28%;
    text-align: left;
  }
  .promise__content-info-list span:nth-child(6)::before {
    content: url("../images/promise-mob-arrow.webp");
    top: 5px;
    left: -46px;
  }
  .promise__content-info-list span:nth-child(7) {
    top: 349px;
    left: 28%;
    text-align: left;
  }
  .promise__content-info-list span:nth-child(7)::before {
    content: url("../images/promise-mob-arrow.webp");
    top: 5px;
    left: -46px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .promise__content-info-list span:nth-child(8) {
    top: 456px;
    left: 28%;
    text-align: left;
    right: 0;
    bottom: 0;
  }
  .promise__content-info-list span:nth-child(8)::before {
    content: url("../images/promise-mob-arrow.webp");
    top: 5px;
    left: -212px;
    right: 0;
    bottom: 0;
  }
  .promise__content-info-list span:nth-child(9) {
    top: 560px;
    left: 28%;
    text-align: left;
    right: 0;
    bottom: 0;
  }
  .promise__content-info-list span:nth-child(9)::before {
    content: url("../images/promise-mob-arrow.webp");
    top: 5px;
    left: -205px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    right: 0;
    bottom: 0;
  }
  .promise__content-info-list span:nth-child(10) {
    top: 669px;
    left: 28%;
    text-align: left;
    right: 0;
    bottom: 0;
  }
  .promise__content-info-list span:nth-child(10)::before {
    content: url("../images/promise-mob-arrow.webp");
    top: 5px;
    left: -182px;
    right: 0;
    bottom: 0;
  }

  .geographies {
    padding-top: 152px;
    padding-bottom: 100px;
  }

  .geographies__images img {
    max-width: 410px;
  }

  .geographies__info {
    width: 100%;
  }

  .footer {
    min-height: 350px;
  }

  .footer__menu-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__menu-phone {
    margin: 20px auto;
  }

  .footer__menu-btn {
    display: none;
  }

  .footer__copy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .footer__copy-politic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__copy-name {
    padding-bottom: 25px;
  }

  .header__slider-wrapper {
    height: 100%;
    padding: 30px 0 100px 0;
  }
}
@media (max-width: 600px) {
  .header__menu-logо {
    margin-right: 0;
  }

  .header__menu-phone {
    margin: 40px 0 0 -87px;
  }

  .header__menu-lang {
    left: -25px;
  }

  .slick-slide img {
    width: 100px;
  }

  .header__content {
    padding: 85px 30px 30px 30px;
  }

  .header__content-logos::before {
    width: 280px;
  }

  .header__arrow-down {
    left: 44%;
  }

  .social {
    top: 55%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    right: 5px;
    z-index: 10;
    padding: 10px 10px;
  }
  .social a + a {
    padding-top: 20px;
  }

  .header__content-title {
    margin-bottom: 7px;
    margin-top: 0px;
  }

  .title-h1 {
    font-size: 25px;
    line-height: 30px;
  }

  .header__content-text {
    margin: 0;
  }

  .prevArrow {
    left: 10px;
  }

  .nextArrow {
    right: 10px;
  }

  .trust__content {
    line-height: 24px;
  }
  .trust__content-title {
    font-size: 24px;
  }
  .trust__content-text {
    font-size: 16px;
  }

  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 900px;
  }

  .contact iframe {
    width: 100%;
    height: 400px;
  }

  .contact-content {
    margin: 480px auto 0;
  }

  .footer__menu-phone {
    margin: 20px auto;
  }

  .why {
    min-height: 730px;
  }
}
@media (max-width: 480px) {
  .header::after {
    bottom: -2px;
  }

  .header__slider-wrapper {
    height: 100%;
    padding: 30px 0 80px 0;
  }

  .header__arrow-down {
    left: 42%;
    bottom: 50px;
  }

  .header__menu-phone svg {
    display: none;
  }

  .header__menu-phone a {
    padding-left: 0px;
  }

  .slick-slide img {
    width: 70px;
  }

  .why {
    min-height: 800px;
  }

  .why__content {
    padding-top: 40px;
  }

  .why__content-title {
    font-size: 25px;
  }

  .promise__content-info-list {
    margin: 0 0 0 20px;
    max-width: 290px;
  }

  .trust__img img {
    max-width: 260px;
  }

  .promise__content-title {
    font-size: 25px;
  }

  .geographies__info-descr::before {
    width: 200px;
  }

  .promise__content-info-list span:nth-child(4) {
    left: 42%;
  }
  .promise__content-info-list span:nth-child(5) {
    left: 42%;
  }
  .promise__content-info-list span:nth-child(6) {
    left: 42%;
  }
  .promise__content-info-list span:nth-child(7) {
    left: 42%;
  }
  .promise__content-info-list span:nth-child(8) {
    left: 42%;
  }
  .promise__content-info-list span:nth-child(8)::before {
    left: -201px;
  }
  .promise__content-info-list span:nth-child(9) {
    left: 42%;
  }
  .promise__content-info-list span:nth-child(9)::before {
    left: -205px;
  }
  .promise__content-info-list span:nth-child(10) {
    left: 42%;
  }
  .promise__content-info-list span:nth-child(10)::before {
    left: -182px;
  }

  .feedback-form input {
    width: 200px;
    background-position: 5px center;
    background-size: 14%;
    padding-left: 38px;
    font-size: 12px;
  }

  .feedback-title {
    font-size: 25px;
  }

  .feedback-form input.feedback-form-btn {
    padding: 0;
  }

  .header-modal {
    max-width: 270px;
    padding: 0px 20px 20px 20px;
  }
  .header-modal .feedback-form input.feedback-form-btn {
    padding: 0;
  }
  .header-modal .feedback-form input {
    width: 200px;
    background-position: 5px center;
    background-size: 14%;
    padding-left: 38px;
    font-size: 12px;
  }
  .header-modal .feedback-subtitle {
    padding-bottom: 10px;
  }
}
@media (max-width: 380px) {
  .why {
    min-height: 860px;
  }
}
